body {
	margin: 0;
	text-align: center;
}

h2 {
	margin-top: 10px;
}

.btn {
	margin-bottom: 5px;
}

.login-box {
	width: 100%;
	position: fixed;
    left: auto;
    top: auto;
    background: #FFF;
    margin: 0;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    text-align: center;
    display: none;
    z-index: 110;
    color: #999;
}

#banner-logo {
	text-align: center;
	height: auto;
	max-width: 233px;
}

#logo {
	width: 100%;
	max-width: 375px;
	margin: 5px;
	float: none;
}

#header {
	height: 100%;
}

#fixed {
	position: static;
}

.login-btn-wrapper {
	float: none;
	text-align: center;
	display: block;
	margin: 10px 0px;
}

.resized-menu, .resized-sidebar-menu {
	display: block;
}

.resized-sidebar-menu {
	float: none !important;
}

.main-nav {
	height: 100%;
	border-top: none;
	border-bottom: none;
	display: none;
}

.main-nav ul li {
	width: 50%;
	border: none;
}

.main-nav li a {
	border-bottom: 1px solid rgba(0,0,0,.3);
	border-top: 1px solid rgba(255,255,255,.3);
}

/*Removes the outer border when navigation is resized*/
.main-nav li a:nth-child(odd) {
	border-left: none;
}

/*Removes the outer border when navigation is resized*/
.main-nav li a:nth-child(even) {
	border-right: none;
}

.top-nav {
	position: static;
	top: auto;
	right: auto;
	border-radius: 0;
}

.top-nav ul li {
	width: 50%;
}

.inner-wrapper {
	
}

.type-of-membership-btn {
	display: block;
	font-size: 2em;
}

.left-side, .right-main {
	float: none;
	width: auto;
}

.rfloat, .lfloat {
	float: none;
}

table.style {
	overflow-x: auto;
	display: block;
	width: 100%;
}

.sponsor-wrapper {
	width: 90%;
}

input, textarea, select {
	width: 100% !important;
	margin-bottom: 5px;
}