.clear {
	clear: both;
}

.lfloat {
	float: left;
}

.rfloat {
	float: right;
}

.center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.fine-text {
	font-size: 10px;
	color: #AAA;
}

.text-red {
	color: red;
}

.text-green {
	color: green;
}

.text-orange {
	color: #F60;
}

.hide {
	display: none;
}

.btn {
	color: #FFF;
	display: inline-block;
	background: #B20000;
	padding: 7px 15px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
	font-weight: bold;
	margin: 5px;
	border-bottom: 1px solid rgba(0,0,0,.3);
	border-right: 1px solid rgba(255,255,255,.3);
	transition: .2s linear;
}

.btn:hover {
	background: rgba(0,0,0,.8);
}

#overlay {
	background: rgba(0,0,0,.6);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	display: none;
}

.login-box {
	position: fixed;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -300px;
    background: #FFF;
    /*height: 300px;*/
    width: 600px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    -o-box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    -ms-box-shadow: 0px 0px 10px rgba(0,0,0,.5);
    text-align: center;
    display: none;
    z-index: 110;
    color: #999;
}

.login-box .close-btn {
	float: right;
	font-size: 22px;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

ul.interests, ul.links {
	margin: 0;
	padding: 0;
}

ul.interests {
	text-align: center;
}

/*
Looks like button
ul.interests li {
	list-style-type: none;
	display: inline-table;
	padding: 7px;
	background: #B20000;
	margin: 3px;
	color: #FFF;
	font-weight: bold;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 1px solid rgba(0,0,0,.3);
	border-right: 1px solid rgba(255,255,255,.3);
}
*/

ul.interests li {
	list-style-type: none;
	display: inline-table;
	font-size: 20px;
	font-weight: bold;
	margin: 5px;
	background: url("../img/confectionary.png") #FFF;
	padding: 20px; /*20px 10px*/
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0,0,0,.1);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.1);
	-o-box-shadow: 0px 0px 10px rgba(0,0,0,.1);
	-ms-box-shadow: 0px 0px 10px rgba(0,0,0,.1);
}

ul.interests li div {
	
}

ul.interests li i {
	color: #B20000;
}

ul.links li {
	list-style-type: none;
	display: inline-table;
}


.marquee {
	overflow: hidden;
}

.ad-box:first-child {
	margin-left: 0;
}

.ad-box:last-child {
	margin-right: 0;
}

.ad-box {
	width: 250px;
	height: 250px;
	/*background: #CCC;*/
	margin: 0px 10px;
	float: left;
}

.ad-box img {
	width: 250px;
	height: 230px;
}

.ad-box div {
	text-align: center;
	font-weight: bold;
}

.notice-box {
	padding: 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	/*border: 1px solid #EEE;
	border-top: 3px solid #333;*/
	color: #999;
	margin-bottom: 20px;
}

.green-notice {
	color: green;
	background: url("../img/success-icon.png") 10px center no-repeat rgba(0,255,0,.1);
	border: 1px solid #a6ca8a;
	background-size: 30px 30px;
	padding-left: 50px;
}

.red-notice {
	color: #B20000;
	border: 1px solid #f5aca6;
	background: url("../img/error-icon.png") 10px center no-repeat rgba(255,0,0,.1);
	background-size: 30px 30px;
	padding-left: 50px;
}

.yellow-notice {
	color: #999900;
	border: 1px solid #CCCC00;
	background: url("../img/notice-icon.png") 10px center no-repeat rgba(255,255,0,.1);
	background-size: 30px 30px;
	padding-left: 50px;
}

.type-of-membership-btn {
	font-size: 30px;
	padding: 35px;
	display: inline-table;
	cursor: pointer;
	background: #B20000;
	color: #FFF;
	margin: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	transition: .2s linear;
	font-weight: normal;
}

.selected-membership {
	background: red;
	box-shadow: 0px 0px 10px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.3);
	-o-box-shadow: 0px 0px 10px rgba(0,0,0,.3);
	-ms-box-shadow: 0px 0px 10px rgba(0,0,0,.3);
}

#cost {
	font-size: 30px;
}

.sponsor-wrapper {
	margin: 5px;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	-ms-border-radius: 10px 10px 0px 0px;
	-o-border-radius: 10px 10px 0px 0px;
	border-radius: 10px 10px 0px 0px;
	width: 300px;
	display: inline-table;
  	overflow: hidden;
}

.sponsor-wrapper p {
	margin: 0;
}

.sponsor-wrapper .title {
	padding: 10px;
	background: #B20000;
	color: #FFF;
	font-weight: bolder;
}

.sponsor-wrapper .info {
	border: 1px solid #B20000;
	padding: 10px;
}

.news-box {
	/*border-bottom: 1px solid #EEE;*/
	/*padding-bottom: 10px;*/
	border-left: 5px solid #EEE;
	padding: 20px;
	margin-bottom: 20px;
}

.news-box h2 {
	margin-bottom: 0;
}

.pagination {
	/*
	padding: 5px;
	border: 1px solid #CCC;
	*/
	margin: 5px 0px;
	text-align: right;
}

.pagination a {
	padding: 5px;
	border: 1px solid #CCC;
	display: inline-block;
	color: #333;
	text-decoration: none;
}

.pagination a.active {
	background: #333;
	color: #FFF;
}

table.style {
	/*border: 1px solid #CCC;*/
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

table.style th {
	color: #333;
}

table.style th, table.style td {
	border: 1px solid #CCC;
	padding: 5px;
}

table.style tr:nth-child(even) {
	background: #EEE;
}

/*
ul {
	list-style-position: inside;
}
*/

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 15px;
	padding: 0;
}

h1 {
	font-size: 35px;
	/*color: #333;*/
	font-family: 'Roboto Condensed', sans-serif;
}

p {
	line-height: 19px;
	margin-bottom: 10px;
}

a {
	color: #F00;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img a {
	border: none;
}

li {
	list-style-position: inside;
}

ul, ol {
	margin-bottom: 10px;
	margin-left: 20px;
}

img a {
	border: none;
}

a img {
	border: none;
}